.photo-gallery__like-button {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 22px;
    height: 19px;
    align-self: center;
    margin-right: 2%;
    transition: opacity .4s ease-in-out;
}

.photo-gallery__like-button:hover {
    opacity: .5;
    cursor: pointer;
}