.photo-gallery__remove-button {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .4s ease-in-out;
}

.photo-gallery__remove-button:hover {
    opacity: .6;
    cursor: pointer;
}